header {
  overflow: hidden;
  letter-spacing: 2px;
  padding-bottom: 5px;
  padding-top: 50px;

  .logo {
    float: left;
  }

	@media (max-width: 830px) {
		padding-top: 30px;
		padding-bottom: 0;

		.logo {
			font-size: 1.5em;
		}
	}

  body.blog & {

    @media (max-width: 600px) {
      .logo {
        float: none;
        text-align: center;
        width: 100%;
      }
    }
  }

  body.light & {
    .logo {
      font-weight: 700;
    }
  }
}

