extends ../layout.pug

block vars
  - var bodyClass = '';

block content
  section#post
    h2 Camera glitch
    p 
      | A while back I had a digital camera with a broken lens that functioned enough to take some glitched photos. I tried to glitch it further and just ended up breaking the camera, but these were the images that I got out of it. Completely unmodified, taken straight from the camera.

    .gallery
      a(href="/assets/glitch/DSC00021.jpg" target="_blank")
        img(src="/assets/glitch/DSC00021_th.jpg")
      a(href="/assets/glitch/DSC00023.jpg" target="_blank")
        img(src="/assets/glitch/DSC00023_th.jpg")
      a(href="/assets/glitch/DSC00026.jpg" target="_blank")
        img(src="/assets/glitch/DSC00026_th.jpg")
      a(href="/assets/glitch/DSC00027.jpg" target="_blank")
        img(src="/assets/glitch/DSC00027_th.jpg")
      a(href="/assets/glitch/DSC00028.jpg" target="_blank")
        img(src="/assets/glitch/DSC00028_th.jpg")
      a(href="/assets/glitch/DSC00029.jpg" target="_blank")
        img(src="/assets/glitch/DSC00029_th.jpg")
      a(href="/assets/glitch/DSC00030.jpg" target="_blank")
        img(src="/assets/glitch/DSC00030_th.jpg")
      a(href="/assets/glitch/DSC00032.jpg" target="_blank")
        img(src="/assets/glitch/DSC00032_th.jpg")
      a(href="/assets/glitch/DSC00033.jpg" target="_blank")
        img(src="/assets/glitch/DSC00033_th.jpg")
      a(href="/assets/glitch/DSC00034.jpg" target="_blank")
        img(src="/assets/glitch/DSC00034_th.jpg")
      a(href="/assets/glitch/DSC00035.jpg" target="_blank")
        img(src="/assets/glitch/DSC00035_th.jpg")
      a(href="/assets/glitch/DSC00036.jpg" target="_blank")
        img(src="/assets/glitch/DSC00036_th.jpg")
      a(href="/assets/glitch/DSC00038.jpg" target="_blank")
        img(src="/assets/glitch/DSC00038_th.jpg")
      a(href="/assets/glitch/DSC00041.jpg" target="_blank")
        img(src="/assets/glitch/DSC00041_th.jpg")

    a(href="/") &larr; Back to home
