extends ../layout.pug

block vars
  - var bodyClass = '';

block content
  section#post
    h2 Old glitch art (2014-2015)
    p 
      | This is a collection of some old glitch art I did a while back using various techniques, including databending and the Decim8 app. Click an image to view the full size in a new tab.

    .gallery
      a(href="/assets/glitch/1.jpg" target="_blank")
        img(src="/assets/glitch/1_th.jpg")
        span Melt
      a(href="/assets/glitch/2.jpg" target="_blank")
        img(src="/assets/glitch/2_th.jpg")
        span Hawaii
      a(href="/assets/glitch/3.jpg" target="_blank")
        img(src="/assets/glitch/3_th.jpg")
        span Double Vision
      a(href="/assets/glitch/4.jpg" target="_blank")
        img(src="/assets/glitch/4_th.jpg")
        span The Light
      a(href="/assets/glitch/5.jpg" target="_blank")
        img(src="/assets/glitch/5_th.jpg")
        span The End
      a(href="/assets/glitch/6.jpg" target="_blank")
        img(src="/assets/glitch/6_th.jpg")
        span Skull
      a(href="/assets/glitch/7.jpg" target="_blank")
        img(src="/assets/glitch/7_th.jpg")
        span Demon
      a(href="/assets/glitch/8.jpg" target="_blank")
        img(src="/assets/glitch/8_th.jpg")
        span Self Portrait

    a(href="/") &larr; Back to home
